<div style="padding:50px 0 0 35%;">
  <h1 style="margin-bottom: 40px;">Welcome to 家計簿.erb</h1>

  <%= link_to "Log in", new_user_session_path, class: "btn btn-primary w-25" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary w-25" %>
</div>

